# All wiki pages
*.md
# All the previous revisions
*.md.r*
# Include the README
!README.md
# ...but ignore READMEs in the build folder
build/README.md
# And the Module API Docs
!Module_API_Docs.md
# And the changelog
!Changelog.md

# The page index
pageindex.json
# The id index
idindex.json
# The search index
invindex.json
# The recent changes list
recent-changes.json
# The new settings file
peppermint.json

# The automatically downloaded parsedown files
Parsedown.php
ParsedownExtra.php

# All uploaded files
build/Files/*

# The testing zone for the $paths
data_test
