# All wiki pages
*.md
# All the previous revisions
*.md.r*
# Include the README
!README.md
# ...but ignore READMEs in the build folder
build/README.md
# ...and the backup peppermint.json files created when using the settings GUI
peppermint.json.bak
# And the Module API Docs
!Module_API_Docs.md
# And the changelog
!Changelog.md
# And the development notes
!Development.md

# The page index
pageindex.json
# The id index
idindex.json
# The search index
invindex.json
# The recent changes list
recent-changes.json
# The statistics cache file
build/statsindex.json
# The new settings file
peppermint.json
# The comments files
build/*.comments.json

# The automatically downloaded parsedown files
Parsedown.php
ParsedownExtra.php

# All uploaded files
build/Files/*
# All user-specific files
build/Users/*

# The testing zone for the $paths
data_test

# Created by https://www.gitignore.io/api/git

### Git ###
*.orig

# End of https://www.gitignore.io/api/git
